table
{
    border-collapse:collapse;
    align-items: center;
    text-align: center;
    min-width: 35%;
}
tr td
{
    border: solid 3px black;
    border-spacing: 0;
    padding: 5px;
    text-align: center;
    align-items: center;
}
body{
    width:80%;
    margin:auto;
}
body * {
    padding: 15px;
}
.header_tr
{
    background-color: rgb(223, 223, 223);
}
