.container
{
	color: white;
	width: 100%;
	position: absolute;
	top:50px;
	background-color: red;
	text-align: center;
	min-height: 300px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#click:checked ~ .container
{
	color: black;
}